<a href="https://colab.research.google.com/github/tazar09/h3_working_repo/blob/main/h3_town_comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
url = 'https://heroes.thelazy.net/index.php/Town_Comparison'

In [122]:
df0 = pd.read_html(url)[0]

In [137]:
df = df0.copy()

In [138]:
df = df.droplevel(level = 0, axis =1)
df = df.drop(0, axis = 0)
df = df.drop(11, axis = 0)

In [139]:
df.columns = ['town', 'mage_guild', 'silo', 'war_machine', 'week_gold',
       'week_res', 'dwell_ai_val', 'cost_gold', 'cost_wood_ore',
       'cost_res', 'wood', 'mercury',  'ore', 'sulf', 'crystal','gems']
df = df.drop(['war_machine'], axis = 1)

In [140]:
resource_silo = {'1 , 1': 'w/o', '1': 'res'}

In [141]:
df['silo'] = df['silo'].replace(resource_silo)
df['mage_guild'] = df['mage_guild'].str.replace('[^\d\.]+', '', regex=True)

In [142]:
df['week_gold'] = df['week_gold'].apply(lambda x: str.split(x)[0])
df['week_res'] = df['week_res'].apply(lambda x: str.split(x)[0])
df['dwell_ai_val'] = df['dwell_ai_val'].apply(lambda x: str.split(x)[0])
df['cost_gold'] = df['cost_gold'].apply(lambda x: str.split(x)[0])
df['cost_wood_ore'] = df['cost_wood_ore'].apply(lambda x: str.split(x)[0])
df['cost_res'] = df['cost_res'].apply(lambda x: str.split(x)[0])
df['mercury'] = df['mercury'].apply(lambda x: str.split(x)[0])
df['ore'] = df['ore'].apply(lambda x: str.split(x)[0])
df['sulf'] = df['sulf'].apply(lambda x: str.split(x)[0])
df['crystal'] = df['crystal'].apply(lambda x: str.split(x)[0])

In [143]:
df.columns

Index(['town', 'mage_guild', 'silo', 'week_gold', 'week_res', 'dwell_ai_val',
       'cost_gold', 'cost_wood_ore', 'cost_res', 'wood', 'mercury', 'ore',
       'sulf', 'crystal', 'gems'],
      dtype='object')

In [144]:
for i in ['mage_guild', 'week_gold', 'week_res', 'dwell_ai_val', 'cost_gold', 'cost_wood_ore', 'cost_res', 'wood','mercury', 'ore', 'sulf', 'crystal', 'gems']:
  df[i] = df[i].astype(int)

In [145]:
df['cost_ai'] = round(df['cost_gold']/df['dwell_ai_val'],2)

In [166]:
df.sort_values('cost_res', ascending = False)

,town,mage_guild,silo,week_gold,week_res,dwell_ai_val,cost_gold,cost_wood_ore,cost_res,wood,mercury,ore,sulf,crystal,gems,cost_ai,cost_res_std,ore_std,cost_wood_ore_std
3,Tower,5,res,30800,4,48930,111800,270,229,135,48,135,43,49,89,2.28,1.319234,0.130304,-0.501533
4,Inferno,5,res,28090,4,44022,115300,240,201,120,86,120,51,28,36,2.62,0.670050,-1.019434,-1.776617
2,Rampart,5,res,26620,4,48410,106000,264,200,122,30,142,30,95,45,2.19,0.646865,0.666848,-0.756550
5,Necropolis,5,w/o,26920,2,40666,97400,285,200,150,60,135,50,45,45,2.40,0.646865,0.130304,0.136009
6,Dungeon,5,res,27205,4,46708,112400,284,199,142,40,142,82,32,45,2.41,0.623680,0.666848,0.093506
9,Conflux,5,res,28500,4,58694,106800,277,181,137,75,140,38,33,35,1.82,0.206348,0.513549,-0.204013
1,Castle,4,w/o,29580,6,49304,111000,269,173,147,42,122,42,47,42,2.25,0.020867,-0.866136,-0.544036
10,Cove,4,res,29935,4,47037,108300,330,145,190,23,140,58,37,27,2.30,-0.628317,0.513549,2.048635
8,Fortress,3,w/o,26660,2,39642,92400,290,98,185,29,105,49,10,10,2.33,-1.718019,-2.169172,0.348523
7,Stronghold,3,w/o,24530,2,40098,92200,309,95,157,10,152,10,60,15,2.30,-1.787574,1.433340,1.156076

In [155]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['cost_res_std'] = scaler.fit_transform(df['cost_res'].values.reshape(-1, 1))

In [165]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['cost_wood_ore_std'] = scaler.fit_transform(df['cost_wood_ore'].values.reshape(-1, 1))